In [8]:
import numpy as np
import pandas as pd
import os
import copy
import seaborn as sbn
import matplotlib.pylab as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler,PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression
from itertools import permutations, combinations

## Load the Leak datafile

In [9]:
# Getting path for the 'parent folder'
path_cwd = os.getcwd()
path_parent = os.path.abspath(os.path.join(path_cwd, os.pardir))

# Getting path for the data files
datafiles_folder_name = 'Data_files'
file14 = 'data_leak_in_14.csv'
file24 = 'data_leak_in_24.csv'
file31 = 'data_leak_in_31.csv'

path_file14 = os.path.join(path_parent,datafiles_folder_name,file14)
path_file24 = os.path.join(path_parent,datafiles_folder_name,file24)
path_file31 = os.path.join(path_parent,datafiles_folder_name,file31)

In [10]:
leak_file_14 = pd.read_csv(path_file14)
leak_file_24 = pd.read_csv(path_file24)
leak_file_31 = pd.read_csv(path_file31)

In [11]:
# Check leak sizes
leak_file_14.leak_area.unique()

array([0.0001, 0.0005, 0.001 , 0.002 , 0.003 , 0.004 , 0.005 ])

## The code below takes a leakfile and a leak size and for each link or node, calculates the mean value and std deviation of parameter with and without leak. These values are stored in a dataframe

In [12]:
def leakimpact(leakfile,leaksize):
    
    leakfile_onesize = leakfile.loc[leakfile.leak_area==leaksize]

    # flowrates
    numlink = []
    flowmean_normal = []
    flowmean_leak = []
    flowstd_normal = []
    flowstd_leak = []
    for i in range(1,num_links+1):
        col_normal = 'Link_flow'+str(i)
        col_leak = 'leak_flow_'+str(i)
        flow_normal = leakfile_onesize[col_normal]*1000
        flow_leak = leakfile_onesize[col_leak]*1000
        numlink.append(i)
        flowmean_normal.append(np.mean(flow_normal))
        flowstd_normal.append(np.std(flow_normal))
        flowmean_leak.append(np.mean(flow_leak))
        flowstd_leak.append(np.std(flow_leak))

    df_flow = pd.DataFrame()
    df_flow['Link_no']=numlink
    df_flow['Mean_flow_normal']=flowmean_normal
    df_flow['StdDev_flow_normal']=flowstd_normal
    df_flow['Mean_flow_leak']=flowmean_leak
    df_flow['StdDev_flow_leak']=flowstd_leak 
    
    # heads
    numhead = []
    headmean_normal = []
    headmean_leak = []
    headstd_normal = []
    headstd_leak = []
    for i in range(2,num_nodes+1):
        col_normal = 'Node_head'+str(i)
        col_leak = 'leak_head_'+str(i)
        head_normal = leakfile_onesize[col_normal]
        head_leak = leakfile_onesize[col_leak]
        numhead.append(i)
        headmean_normal.append(np.mean(head_normal))
        headstd_normal.append(np.std(head_normal))
        headmean_leak.append(np.mean(head_leak))
        headstd_leak.append(np.std(head_leak))

    df_head = pd.DataFrame()
    df_head['Node_no']=numhead
    df_head['Mean_head_normal']=headmean_normal
    df_head['StdDev_head_normal']=headstd_normal
    df_head['Mean_head_leak']=headmean_leak
    df_head['StdDev_head_leak']=headstd_leak
    
    return df_head, df_flow

In [13]:
# Check for leak size 0.002
df_head_14, df_flow_14=leakimpact(leak_file_14,0.002)
df_head_24,df_flow_24=leakimpact(leak_file_24,0.002)
df_head_31,df_flow_31=leakimpact(leak_file_31,0.002)

In [14]:
df_flow_14

,Link_no,Mean_flow_normal,StdDev_flow_normal,Mean_flow_leak,StdDev_flow_leak
0,1,6225.348594,697.276419,6289.532566,698.672062
1,2,5965.039431,673.830602,6029.223380,675.387282
2,3,2409.998405,281.016644,2444.257441,281.645069
3,4,2352.870824,266.640071,2387.129854,267.218864
4,5,2132.789074,240.924031,2167.048088,241.533862
5,6,1833.402285,211.560590,1867.661307,212.029695
6,7,1430.633479,195.001739,1464.892505,195.223113
7,8,1256.785724,168.811988,1291.044747,168.954102
8,9,1094.355028,138.828510,1128.614061,138.664033
9,10,627.546907,78.891873,627.546905,78.891871
10,11,469.289850,52.659999,469.289851,52.660002
11,12,292.045364,38.974520,292.045364,38.974520
12,13,295.905017,54.152739,330.164046,55.710317
13,14,102.569324,35.525429,136.828353,36.765363
14,15,2.642643,25.867830,-27.282287,27.967439
15,16,164.166829,32.863985,176.037592,32.887105
16,17,-425.803384,57.176335,-437.674149,57.508527
17,18,-823.007282,78.722980,-834.878038,79.361156
18,19,-868.843647,96.047099,-880.714401,96.657963
19,20,2435.923831,293.332901,2453.978018,293.750835
20,21,440.415600,61.263700,440.415604,61.263702
21,22,161.316492,35.683772,161.316492,35.683772
22,23,1621.101777,221.140045,1639.155929,221.570045
23,24,1052.847179,144.180534,1069.691068,144.480706
24,25,801.586605,126.458646,818.430506,126.716017
25,26,-337.796682,51.208767,-355.850848,50.358783
26,27,-64.743977,32.609263,-82.798146,32.426750
27,28,60.298841,26.934230,42.244673,29.215110
28,29,255.927906,50.843462,257.138177,50.857440
29,30,148.549051,30.522474,149.759322,30.474220
30,31,26.752303,24.541174,27.962572,24.534784
31,32,-87.227885,35.945225,-86.017616,35.914411
32,33,145.128934,51.479878,143.918663,51.459125
33,34,389.457602,77.289442,388.247334,77.305514

In [15]:
df_head_14

,Node_no,Mean_head_normal,StdDev_head_normal,Mean_head_leak,StdDev_head_leak
0,2,216.399290,60.015035,216.331064,59.992821
1,3,171.674568,57.557807,170.718034,57.250562
2,4,166.105249,57.387959,165.002547,57.037451
3,5,159.302167,57.222608,158.016479,56.818478
4,6,152.151310,57.080440,150.653277,56.614789
5,7,150.473533,57.058456,148.917522,56.576232
6,8,148.463444,57.038528,146.818680,56.530936
7,9,146.882818,57.032606,145.158485,56.502490
8,10,145.733276,57.036947,143.942330,56.487903
9,11,143.754672,57.093597,141.963693,56.545600
10,12,142.299229,57.117197,140.508223,56.569828
11,13,137.048778,57.275960,135.257698,56.730668
12,14,136.764086,56.715515,132.997511,55.540105
13,15,135.924073,56.724392,132.063024,55.513503
14,16,135.892258,56.766421,132.562039,55.721434
15,17,146.224554,56.655571,144.274058,56.033623
16,18,159.053988,57.019361,157.765869,56.606373
17,19,167.174737,57.321481,166.104248,56.977335
18,20,157.778516,57.053993,156.632343,56.685882
19,21,146.060167,56.965321,144.913844,56.601414
20,22,138.570792,57.121448,137.424369,56.761223
21,23,149.879585,56.824184,148.571718,56.404494
22,24,143.185380,56.712434,141.680460,56.230759
23,25,138.895011,56.679134,137.224737,56.146620
24,26,134.820786,56.878257,132.748334,56.223667
25,27,133.861836,56.923251,131.337099,56.104209
26,28,136.965665,56.413329,135.547787,55.966650
27,29,130.665744,56.584998,129.156357,56.117500
28,30,129.345682,56.404376,127.764755,55.914606
29,31,130.131639,56.426569,128.533079,55.930114
30,32,132.893314,56.529842,131.256256,56.015493

## For better interpretetion of the 'relative' impact of a leak on flow and pressure across network, the 'change' in mean values i.e. mean_without_leak minus mean_with_leak is scaled between 0 and 1. This helps in making the observation that different leaks impact different parts of the network differently. In later experiments, this differential impact is forms the basis for identifying the leak location

In [16]:
# percent change in mean
df_leakimpact_mean_change_head = pd.DataFrame()
df_leakimpact_mean_change_head['Leak14_head']=(df_head_14.Mean_head_normal-df_head_14.Mean_head_leak)
df_leakimpact_mean_change_head['Leak24_head']=(df_head_24.Mean_head_normal-df_head_24.Mean_head_leak)
df_leakimpact_mean_change_head['Leak31_head']=(df_head_31.Mean_head_normal-df_head_31.Mean_head_leak)
df_leakimpact_mean_change_head = df_leakimpact_mean_change_head.abs()
scaler_head = MinMaxScaler()
df_leakimpact_mean_change_head = pd.DataFrame(scaler_head.fit_transform(df_leakimpact_mean_change_head.values))
df_leakimpact_mean_change_head.columns=['Leak14head','Leak24head','Leak31head']

df_leakimpact_mean_change_flow = pd.DataFrame()
df_leakimpact_mean_change_flow['Leak14_flow']=(df_flow_14.Mean_flow_normal-df_flow_14.Mean_flow_leak)
df_leakimpact_mean_change_flow['Leak24_flow']=(df_flow_24.Mean_flow_normal-df_flow_24.Mean_flow_leak)
df_leakimpact_mean_change_flow['Leak31_flow']=(df_flow_31.Mean_flow_normal-df_flow_31.Mean_flow_leak)
df_leakimpact_mean_change_flow = df_leakimpact_mean_change_flow.abs()
scaler_flow = MinMaxScaler()
df_leakimpact_mean_change_flow = pd.DataFrame(scaler_flow.fit_transform(df_leakimpact_mean_change_flow.values))
df_leakimpact_mean_change_flow.columns=['Leak14flow','Leak24flow','Leak31flow']

In [28]:
df_leakimpact_mean_change_flow

    Leak14flow  Leak24flow  Leak31flow
0        1.000       1.000       1.000
1        1.000       1.000       1.000
2        0.538       0.078       0.102
3        0.538       0.078       0.102
4        0.538       0.078       0.102
5        0.538       0.078       0.102
6        0.538       0.078       0.102
7        0.538       0.078       0.102
8        0.538       0.078       0.102
9        0.000       0.000       0.000
10       0.000       0.000       0.000
11       0.000       0.000       0.000
12       0.538       0.078       0.102
13       0.538       0.078       0.102
14       0.462       0.078       0.102
15       0.184       0.044       0.058
16       0.184       0.044       0.058
17       0.184       0.044       0.058
18       0.184       0.044       0.058
19       0.278       0.879       0.840
20       0.000       0.000       0.000
21       0.000       0.000       0.000
22       0.278       0.879       0.840
23       0.260       0.868       0.481
24       0.260       0.132       0.481
25       0.278       0.121       0.160
26       0.278       0.121       0.160
27       0.278       0.121       0.160
28       0.018       0.010       0.360
29       0.018       0.010       0.360
30       0.018       0.010       0.360
31       0.018       0.010       0.640
32       0.018       0.010       0.640
33       0.018       0.010       0.640

In [29]:
df_leakimpact_mean_change_head

    Leak14head  Leak24head  Leak31head
0        0.000       0.000       0.000
1        0.233       0.390       0.147
2        0.272       0.400       0.152
3        0.321       0.411       0.158
4        0.377       0.425       0.165
5        0.392       0.428       0.166
6        0.415       0.434       0.169
7        0.436       0.439       0.172
8        0.454       0.443       0.174
9        0.454       0.443       0.174
10       0.454       0.443       0.174
11       0.454       0.443       0.174
12       0.975       0.563       0.233
13       1.000       0.594       0.249
14       0.853       0.632       0.268
15       0.493       0.493       0.198
16       0.320       0.424       0.164
17       0.263       0.402       0.153
18       0.283       0.652       0.242
19       0.283       0.652       0.242
20       0.283       0.652       0.242
21       0.325       0.876       0.322
22       0.376       1.000       0.383
23       0.419       0.964       0.433
24       0.524       0.891       0.397
25       0.646       0.817       0.360
26       0.352       0.902       0.682
27       0.376       0.924       0.999
28       0.396       0.943       1.000
29       0.401       0.947       0.877
30       0.410       0.956       0.631